/* Cursors*/
.eye-grey {
	cursor: url('img/cursors/grey.png') 17 9, auto;	
}
.eye-brown {
	cursor: url('img/cursors/brown.png') 17 9, auto;	
}
.eye-green {
	cursor: url('img/cursors/green.png') 17 9, auto;	
}
.eye-hazel {
	cursor: url('img/cursors/hazel.png') 17 9, auto;	
}
.bubble {
	cursor: url('img/cursors/bubble.png') 16 16, auto;	
}
.north {
	cursor: n-resize;
}
.northeast {
	cursor: ne-resize;
}
.east {
	cursor: e-resize;
}
.southeast {
	cursor: se-resize;
}
.south {
	cursor: s-resize;
}
.southwest {
	cursor: sw-resize;
}
.west {
	cursor: w-resize;
}
.northwest {
	cursor: nw-resize;
}
.speaker {
	cursor: url('img/cursors/speaker.png') 10 10, auto;	
}

/* Layout */
body {
	background-color: black;
}
.outer {
	height: 100%;
	/* max-width: 1px; */
	margin: 50px auto 0 auto;
	display: table;
	position: relative;
	
}


.left {
	flex:1;
}
.right {
	width:400px;
	flex:1;
	padding-left:40px;
	overflow: hidden;
}

.inner {
	cursor: crosshair;
	position:relative;
	display: inline-block;
}
.inner a{
	display: block;      
	position: absolute;
}
.image {
	height: 700px;
}
.overlay {
	position: absolute;
	top: 0;
}
.textouter {
	padding-top: 15px;
	width: 100%;
	font-size: 20px;
}
.text {
	text-align: left;
	color: white;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
	user-select: none;;
}
.rightText {
	text-align: left;
	color: white;
	user-select: none;
	padding-top: 15px;
	font-size: 20px;
}



.text span {
	vertical-align: middle;
	margin-right: 20px;
}



.answer {
	color: #00c4ff;
	padding-top:0.5em;
	cursor: pointer; 
}

.dancer {
	color:#e5835e;font-family:UnifrakturCook;
}

.cat1 {
	color:#ff4046;font-size:50px;font-family:'Tsukimi Rounded';
}

.cat2 {
	color:#be935c;
	font-family:'Tsukimi Rounded';
}

.weaver {
	color:white;
	font-family:'Alumni Sans Pinstripe';
}

.historian {
	color: #ad6c45;
	font-style: italic;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
