/* Cursors*/
.eye {
	cursor: url('img/cursors/green.png') 17 9, auto;	
}
.bubble {
	cursor: url('img/cursors/bubble.png') 16 16, auto;	
}
.north {
	cursor: n-resize;
}
.northeast {
	cursor: ne-resize;
}
.east {
	cursor: e-resize;
}
.southeast {
	cursor: se-resize;
}
.south {
	cursor: s-resize;
}
.southwest {
	cursor: sw-resize;
}
.west {
	cursor: w-resize;
}
.northwest {
	cursor: nw-resize;
}

/* Layout */
body {
	background-color: black;
}
.outer {
	height: 100%;
	text-align: center;
}
.inner {
	height: 600;
	cursor: crosshair;
	position:relative;
	display: inline-block;
}
.inner a{
	display: block;      
	position: absolute;
}
.image {
	max-height: 100%;
}
.textouter {
	position: absolute;
	top: 615;
	height:200;
	text-align: center;
	width: 100%;
	font-size: 20px;
}
.text {
	color: white;
	margin: auto;
	width: 450px;
	text-align: left;
	background-color: rgba(0,0,0,0.5);
	user-select: none;
}