/* Cursors*/
.eye-grey {
	cursor: url('img/cursors/grey.png') 17 9, auto;	
}
.eye-brown {
	cursor: url('img/cursors/brown.png') 17 9, auto;	
}
.eye-green {
	cursor: url('img/cursors/green.png') 17 9, auto;	
}
.eye-hazel {
	cursor: url('img/cursors/hazel.png') 17 9, auto;	
}
.bubble {
	cursor: url('img/cursors/bubble.png') 16 16, auto;	
}
.north {
	cursor: n-resize;
}
.northeast {
	cursor: ne-resize;
}
.east {
	cursor: e-resize;
}
.southeast {
	cursor: se-resize;
}
.south {
	cursor: s-resize;
}
.southwest {
	cursor: sw-resize;
}
.west {
	cursor: w-resize;
}
.northwest {
	cursor: nw-resize;
}

/* Layout */
body {
	background-color: black;
}
.outer {
	height: 100%;
	max-width: 1px;
	margin: auto;
	display: table;
	position: relative;
}
.inner {
	cursor: crosshair;
	position:relative;
	display: inline-block;
}
.inner a{
	display: block;      
	position: absolute;
}
.image {
	height: 700px;
}
.overlay {
	position: absolute;
	top: 0;
}
.textouter {
	padding-top: 15px;
	width: 100%;
	font-size: 20px;
}
.text {
	text-align: left;
	color: white;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
	user-select: none;;
}